<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<h1>Show just one Post</h1>

<div th:object ="${post}">
    <h2 th:text="${post.title}"></h2>
    <p th:text="${post.body}"></p>
    <!--<p th:text="${post.user.email}"></p>-->
    <img th:attr="src=${'/uploads/' + post.image}"/>

    <a th:href="@{'/posts/'+${post.id} + '/edit'}">Edit</a>

    <form th:method="POST" th:action="@{/posts/delete}">
        <input type="hidden" name="id" th:value="${post.id}"/>
        <button>Delete</button>
    </form>
</div>

</body>
</html>