<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/header :: header(${'Login Page'})"/>-->

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <h1>Register</h1>
        <div class="col l8 offset-12">
            <form th:action="@{/users/create}" th:method="POST" th:object="${user}">
                <label for="username">Username</label>
                <input class="form-control" th:field="*{username}" />
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />

                <label for="email">Email</label>
                <input class="form-control" th:field="*{email}"/>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />

                <label for="password">Password</label>
                <input type = "password" class="form-control" th:field="*{password}"/>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />

                <label for="password_confirm">Confirm your password</label>
                <input
                    type = "password"
                    class = "form-control"
                    name = "password_confirm"
                    id = "password_confirm"/>

                <button type="submit" class="btn btn-primary">Register</button>
                <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>