!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Ooops, ' + ${error}"></title>
</head>
<body>
<th:block th:switch="${error}">
    <div th:case="'Internal Server Error'">
        <h1>Internal Server Error!!</h1>
    </div>
    <div th:case="'Not Implemented'">
        <h1>The server either does not recognize the request method, or it lacks the ability to fulfill the request.</h1>
    </div>
    <div th:case="'Bad Gateway'">
        <h1>Bad Gateway!!</h1>
    </div>
    <div th:case="'Service Unavailable'">
        <h1>The server is currently unavailable.</h1>
    </div>
    <div th:case="'Gateway Time-out'">
        <h1>The server upstream timed out.</h1>
    </div>
</th:block>

</body>
</html>